# Importing Required Library

In [13]:
## import numpy and pandas
import pandas as pd
import numpy as np

## import libraries for plotting
import matplotlib.pyplot as plt
import seaborn as sns
## do an inline so that plt.show() is not required everytime
%matplotlib inline

## import for pre-processing
## scale (this is same as standard scalar)
from sklearn.preprocessing import scale
## label encoding
from sklearn.preprocessing import LabelEncoder

## import for model selection:
## splitting data into training and test data (validation set)
from sklearn.model_selection import train_test_split
## import for creating K-folds
from sklearn.model_selection import KFold
## import for CV using folds created
from sklearn.model_selection import cross_val_score
## import for grid search cv for Hyperparameter tuning
from sklearn.model_selection import GridSearchCV

## for deleting unused variables
import gc

## filter warnings
import os
import warnings
warnings.filterwarnings('ignore')

# Loading data from csv file

In [19]:
# Loading telecom churn data from telecom_churn_data.csv file
telecom_orig = pd.read_csv('telecom_churn_data.csv')
telecom = telecom_orig.copy()
telecom.head()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9,arpu_6,...,sachet_3g_9,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g
0,7000842753,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,197.385,...,0,1.0,1.0,1.0,NaN,968,30.4,0.0,101.20,3.58
1,7001865778,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,34.047,...,0,NaN,1.0,1.0,NaN,1006,0.0,0.0,0.00,0.00
2,7001625959,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,167.690,...,0,NaN,NaN,NaN,1.0,1103,0.0,0.0,4.17,0.00
3,7001204172,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,221.338,...,0,NaN,NaN,NaN,NaN,2491,0.0,0.0,0.00,0.00
4,7000142493,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,261.636,...,0,0.0,NaN,NaN,NaN,1526,0.0,0.0,0.00,0.00

In [21]:
# Understanding data type, columns, amount, etc
telecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Columns: 226 entries, mobile_number to sep_vbc_3g
dtypes: float64(179), int64(35), object(12)
memory usage: 172.4+ MB

# Data Cleaning and Filling missing value

# Data Preparation

## 1. Derive new features